.masthead {
    padding-top: 5rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover; 
    color: white;
    text-shadow: 0 0 5px #000000, 0 0 5px #404040; 
  }
  
.masthead hr {
  position: relative; 
  border: none;
  height: 3px;
  background: white;
  opacity: 1 !important;
  margin-bottom: 10px;
}

.masthead h1 {
  padding-top: 5rem;
  font-size: 2rem; 
}

.masthead p {
  font-weight: 300;
}

.masthead button{
  background-color: #F05F40;
  border-color: #F05F40;
  padding: 1rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
}
