.navbar{
    background: #f8f9fa;
    padding-right: 50px;
    padding-top: 0; 
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase; 
    font-weight: bold;
    width: 100% !important;
}

.navbar-light .navbar-toggler{
    color: #fff;
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
 
.navbar-brand:hover{ 
    color: #f53409;
}

.brand, .list-item{
    color: #f8f9fa;
} 
 
.navbar-collapse {
    text-transform: uppercase;
} 

#nav-items button{
    color: #0657a8;
    font-weight: bolder;
}

#nav-items button:hover{
    background-color: #f8f9fa;
    color: #F05F40;
}
 

#brandName{
    color: #f53409;
}

.nav-item{
    color: #f53409;
} 
 