body{
    max-width: 100%;
}

.col-md-12 h1{
    padding-top: 4rem; 
    font-size: 1.6rem;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700; 
}

.col-md-12{
    margin: 2rem;
}

.contents{
    padding-top: 6%;
}

@media (max-width: 978px) {
    .contents{
        padding-top: 25%;
    }
}

.secHeader{
    text-transform: capitalize;
    font-weight: bold;
}

.contactUSIcons{
    color: black !important;
}